[user]
	name = John Doe
	email = john@example.org
	signingkey = /home/john/.ssh/id_ed25519.pub
[alias]
	cm = commit -m
	csm = commit -sm
[gpg]
	format = ssh
[commit]
	gpgsign = true
[core]
	editor = vim
	excludesFile = ~/.dotfiles/git/.gitignore
